nav
    .container
        .nav-wrapper
            a.brand-logo.right(href="/") Sea
                span.accent-color-text .
            ul#nav-mobile.left.hide-on-med-and-down
                li: a(href="/services") WHAT WE DO
                li: a(href="/contact") CONTACT
            ul#mobile-nav-mobile.left.hide-on-large-only
                li: a(href="/services") WHAT WE DO
                li: a(href="/contact") CONTACT    
nav.logo-only.hide-on-large-only
    .container
        .nav-wrapper
            a.brand-logo.right(href="/") Sea
                span.accent-color-text .