nav
    .container
        .nav-wrapper
            a.brand-logo.right(href="#") Sea
                span.accent-color-text .
            ul#nav-mobile.left.hide-on-med-and-down
                li: a(href="https://www.google.co.nz") WE DO
                li: a(href="http://seadigital.co.nz") PROJECTS
                li: a(href="http://seadigital.co.nz") BLOG
                li: a(href="http://seadigital.co.nz") US
                li: a(href="http://seadigital.co.nz") CONTACT






