nav
    .container
        .nav-wrapper
            ul#mobile-nav-mobile.show-on-small
                li: a(href="/services") WE DO
                li: a(href="/projects") PROJECTS
                li: a(href="/us") STORY
                li: a(href="/learn") LEARN
                li: a(href="/contact") GET CLOSER