extends layoutScroll

block content
    #bee
      #circle1
    .container.contact-container.content-start
        .row
            .col.s12.m6.mb20
                h1 Contact
                    span.accent-color-text .
                p.contact_phone_email
                 a(href="mailto://hello@seadigital.co.nz") hello@seadigital.co.nz
                 br
                 br
                 a(href="tel:+6443844532")  +64 4 384 4532

                p.contact_address 19 Edward Street, Te Aro
                 br
                 | Wellington, 6011
                .partner-margin
                script(src="https://apis.google.com/js/platform.js", async defer)
                script(class="g-partnersbadge" data-agency-id="1608701073")
            .col.s12.m6.mb20
                form(method="POST" action="success")
                    .row
                        .col.s12.input-field
                            textarea(id="how_help" class="validate" name="userName" type="text" rows=5 cols=5).materialize-textarea
                            label(for="first_name" data-error="Nope not quiet right!" data-success="Correct!") Tell us your name?
                    .row
                        .col.s12.input-field
                            textarea(id="how_help" class ="validate" name="userBusiness" type="email" rows=5 cols=5).materialize-textarea
                            label(for="email" data-error="Please add a valid email address" data-success="Correct!") What's your email?
                    .row
                        .col.s12.input-field
                            textarea(id="how_help" class="validate" name="howHelp" type="text" rows=10 cols=10).materialize-textarea
                            label(for="description" data-error="wrong" data-success="Thanks!") How can we help?
                    .row
                        .col.s12
                            button(type="submit" value="submit" class="waves-effect waves-light btn contact-submit").right Get in touch
                            div.clearfix


