doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://use.typekit.net/zcc0hut.css")
    link(rel='stylesheet', href='/stylesheets/main.css')


  body
    .background-image
    //img.background-image(src="/images/sea.background.5.jpg")
    include partials/header.pug
    .main-content
      block content
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript")
    script(src="/javascripts/lodash.min.js" type="text/javascript")
    script(src="/javascripts/main.js")
