doctype html
html
  head
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    meta(charset='utf-8')
    meta(name="viewport", content="width=320, initial-scale=1, user-scalable=yes")
    link(rel="stylesheet", href="https://use.typekit.net/ldb6vay.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
    link(rel='stylesheet', href='/stylesheets/main.css')
    
    title= title
    


  body
    video(id="bgvid" autoplay) 
      source(src="/videos/VideoBkg1-HD-720p.mov")
    include partials/header.pug
    .main-content
     block content
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript")
    script(src="/javascripts/lodash.min.js" type="text/javascript")
    script(src="/javascripts/main.js")
    script(src="/javascripts/materialize.js")
//    script(src="/javascripts/three.js")
//    script(src="/javascripts/OrbitControls.js")
//    script(src="/javascripts/webGl.js")
    
    // note, you must move the main.js file below the WebGl to get it to run.//
