extends ../layoutScroll

block content
  #bee
    #circle1
  .full
    .container.mw
        .row
            .col.xs12.s12.m12.l12
              h1.first-text
                | Server Performance
                span.accent-color-text .
              .services-start
              img(src="/images/carve/quotemark.png" class="quote")
              h4
                | When Google Adwords is utilised strategically, it is an invaluable tool to reach a specific audience with a targeted message. This leads to higher clickthrough, higher conversion and ultimately higher revenue
                span.accent-color-text .
              h5.pt20
                | - MATT, OWNER & FOUNDER OF CARVE
            .col.xs12.s12.m12.l12
                .services-start
                  .image-overlay-text.row.adwords-service-image.hide-on-small-only
                   .col.s12.adwords-service-image
                    style(type="text/css").
                      .adwords-service-image.hide-on-small-only {
                        background-image: url('/images/method/MethodOrganicLabels.png') !important;
                      }
                  .image-overlay-text.row.adwords-service-image.hide-on-med-and-up
                   .col.s12.adwords-service-image
                    style(type="text/css").
                      .adwords-service-image.hide-on-med-and-up {
                        background-image: url('/images/method/MethodOrganicLabelsMobile.png') !important;
                      }
            .col.xs12.s12.m12.l12 
                h4
                    | What are the benefits of Google Adwords for my business
                    span.accent-color-text ?
            .col.xs12.s12.m6.l6
                .section-icon-image
                h5.services-start
                    | Highly Targeted Messaging
                p
                | Adwords provides the ability to create a number of highly targeted audience segments who you can tailor a message towards. This means that you can tailor your message to suit a range of audiences rather than creating one blanket message for every user or target audience group.
            .col.xs12.s12.m6.l6
                h5.services-start
                    | Higher click through rate
                p
                | Due to the highly targeted nature of Adwords, you can achieve a much higher click through on your ads. This is because the communications being served to youer target audience are written to appeal to them specifically, giving you a much higher chance of sparking their interest to visit your site.
            .col.xs12.s12.m6.l6
              h5.services-start
               | Highly Relevant Audiences
              p
               | Adwords provides the ability to select very specific audience segments who you wish to see certain ads. Based on a number of qualities including age, gender, city or country. The true power of audience segmentation comes by being able to target audiences based on qualities like interests and current browsing habits.
            .col.xs12.s12.m6.l6
              h5.services-start
               | Higher Conversion Rate
              p
               | Because of how targeted our adwords audiences and messaging is, our users get a tailored experience where we can make them feel it was created  for them especially, creating a number of ways to sell the same product or service to a number of audiences, resulting in better conversion and much higher ROI.
            .col.xs12.s12.m12.l12
                  .services-start
                  .image-overlay-text.row.adwords-service-image.hide-on-small-only
                   .col.s12.adwords-service-image
                    style(type="text/css").
                      .adwords-service-image.hide-on-small-only {
                        background-image: url('/images/method/MethodOrganicLabels.png') !important;
                      }
                  .image-overlay-text.row.adwords-service-image.hide-on-med-and-up
                   .col.s12.adwords-service-image
                    style(type="text/css").
                      .adwords-service-image.hide-on-med-and-up {
                        background-image: url('/images/method/MethodOrganicLabelsMobile.png') !important;
                      }
            .col.xs12.s12.m12.l12 
                h4.services-start
                    | Ready to get your business closer with Adwords
                    span.accent-color-text ?
                p.services-start
                   | We will help your business thrive when Adwords is utilised well and used to it's maximum potential. 
        .row.pt20.hide-on-small-only
            .col.s12.services-start
                button(type="CTA" class="waves-effect waves-light btn").left GET CLOSER
        .row.pt20.hide-on-med-and-up
            .col.s12
                button(type="CTA" class="waves-effect waves-light btn-large").left GET CLOSER