extends layoutScroll

block content
    #bee
      #circle1
    .container.contact-container.content-start
      .row
        .col.s12
          h1 What We Do
            span.accent-color-text .
          p.sub-heading 
            | We use decades of expertise 
            | and the full wonderment of digital technology to help your achieve your goals.
            h4.services-start
                h3.span.accent-color-text Search Performance
                p.sub-heading Organic Search (SEO)
                p.sub-heading Local Search (Google Business Listings)
                p.sub-heading Paid Search (Adwords)
                p.sub-heading Performance Reporting (Measuring your digital efforts)
                br
                h3.span.accent-color-text Web Performance
                p.sub-heading Web & Application Development
                p.sub-heading Site Speed Optimisation (Cleaning up under-performing code)
                p.sub-heading Server Performance & Hosting (Amazon Architects)
                br
                h3.span.accent-color-text Performance Consulting
                p.sub-heading Helping organisations like yours, identify, plan and solve digital problems.
            .partner-margin
                script(src="https://apis.google.com/js/platform.js", async defer)
                script(class="g-partnersbadge" data-agency-id="1608701073")
            
                