extends ../layout

block content
  #bee
    #circle1
  .full-scroll-window.active#frame1
    .container
      .row
        .col.s12
          h1.first-text
            | We Do
            span.accent-color-text .
          p.sub-heading We bring your customers closer, looking at problems through human
            br
            | lenses, and
            span.accent-color-text &nbsp;solving them&nbsp;
            | using the wonderment of technology.
            
            h4.services-start
                a(href="/search-engine-optimisation") Search Engine Optimization
                br
                a(href="/adwords-campaigns") Adwords Campaigns
                br
                a(href="/web-development") Web Development
                br
                a(href="/server-optimisation") Server Optimization (AWS)
                br