extends layoutScroll

block content
  #bee
    #circle1
  .full-scroll-window.active#frame1
   .main-content
    .container
      .row
        .col.s12
          h1.first-text
            | Get closer, through
            br
            span.accent-color-text understanding & solving
            br
            | your business problems using the full wonderment
            br
            | of 
            span.accent-color-text &nbsp;digital technology.
          .down-arrow
            i.material-icons.medium.pulsate.scroll-down expand_more
             
  .full-scroll-window#frame2
   .main-content
    .container
      .row
        .col.s12
          h1.first-text
            | How close are you?
          p.sub-heading We bring your customers closer, looking at problems through human
            br
            | lenses, and
            span.accent-color-text &nbsp;solving them&nbsp;
            | using the wonderment of technology.
          .button-margin
          a(class="waves-effect waves-light btn") Get Closer
          



