extends layout

block content
  #bee
    #circle1
  .full-scroll-window.active#frame1
    .container
      .row
        .col.s12
          h1.first-text
            | How 
            span.accent-color-text close 
            | are you now, to achieving the web exposure, 
            span.accent-color-text experience & performance
            |  your customers' demand?
          .down-arrow
            i.material-icons.medium.pulsate.scroll-down expand_more
  .full-scroll-window#frame2
    .container
      .row
        .col.s12
          h3.first-text
            | Sea
            span.accent-color-text .
            |  is a digital agency that gets you closer
            | to your customers by
            span.accent-color-text  understanding & solving
            |  your 
            span.accent-color-text web & search
            |  performance problems
            span.accent-color-text .
          .button-margin
          a(href="/contact" class="waves-effect waves-light btn") Let's Talk
          



