extends layoutScroll

block content
  #bee
    #circle1
  .full
    .container.mw
      .row
        .col.s12
          h1.first-text
            | Method Recycling
            span.accent-color-text .
          .services-start
          img(src="/images/carve/quotemark.png" class="quote")
          h4
            | We had created a simply awesome product and were generating some sales, but wanted to expand to international markets and grow significantly
            span.accent-color-text .
          h5.pt20
            | - STEVEN KORNER, CEO & CO-FOUNDER OF METHOD RECYCLING
          .services-start
           | Steven and India Korner are the co-founders of Method.  They are from design disciplines, which drive the core values of Method - a company providing beautiful products to make recycling a simple, stylish part of modern offices.

           | Steve and India at Method have spent three years designing the perfect office recycling bin: a beautiful, functional solution for recycling and rubbish, designed to simplify the process of office recycling. 
          .pt20
           | With a successful business model established, Matt had ambitious growth goals. He knew he
           | didn’t have the expertise himself, so decided it was time to invest in digital marketing to grow
           | Carve’s customer base, and make sure the bookings were flooding in.
          h4.services-start
           | When Nev met the Method team, he saw an opportunity to help sell a great NZ product internationally
           span.accent-color-text .
          .services-start
           | When we met with Steve and India we realsied how much potential their product had when presented to the right audience. They had created a beautifully designed and manufactured recycling system that we knew would sell. We needed to create an engaing way to clearly communicate the benefits of the bin to a targeted audience in order to achieve the bold growth goals that Steve and India had set for themselves.
          .row.services-start.h5
            .col.xs12.s12.m6.l6.xl6
             h5.flex-icons
               .section-icon-image
                img(src="/images/carve/search_icon.png" class="tools") 
               .inline-text
                | SITE OPTIMISED FOR BOTH
                | ORGANIC AND LOCAL SEARCH 
                
            .col.xs12.s12.m6.l6.xl6
             h5.flex-icons
               .section-icon-image
                img(src="/images/method/video_icon.png" class="tools") 
               .inline-text
                | VIDEO TO CLEARLY COMMUNICATE
                | THE PRODUCT BENEFITS
            .col.xs12.s12.m6.l6.xl6
             h5.flex-icons
               .section-icon-image
                img(src="/images/method/consulting_icon.png" class="tools") 
               .inline-text
                | OFFERED CONSULTING AND
                | ADVICE ON SEO TACTICS
            .col.xs12.s12.m6.l6.xl6
             h5.flex-icons
               .section-icon-image
                img(src="/images/carve/reporting_icon.png" class="tools") 
               .inline-text
                | FULL REPORTING OF DATA TO 
                | TRACK AND PROVE SUCCESS
          h4.row.services-start
           .col.xs12.s12
              | Organic Traffic
              span.accent-color-text .
              .services-start
              .image-overlay-text.row.method-section-background-image-detail.hide-on-small-only
               .col.s12.method-section-background-image-detail
                style(type="text/css").
                  .method-section-background-image-detail.hide-on-small-only {
                    background-image: url('/images/method/MethodOrganicLabels.png') !important;
                  }
                | monthly users
              .image-overlay-text.row.method-section-background-image-detail.hide-on-med-and-up
               .col.s12.method-section-background-image-detail
                style(type="text/css").
                  .method-section-background-image-detail.hide-on-med-and-up {
                    background-image: url('/images/method/MethodOrganicLabelsMobile.png') !important;
                  }
                | monthly users
          p
           | Method’s organic traffic increased significantly over a 22 month period through a combination of carefully curated content and on page optimisation for both organic and local search. Comparing their peak business months year on year, we can see an increase of over 35% in overall organic traffic.  
          h4.services-start
           | Compared to the same period last year, Method's 
           span.accent-color-text  organic traffic rose over 35%
          .services-start
        .row
         .col.xs12.s12.m12.method-section-background-image.show-on-small.hide-on-med-and-up
          style(type="text/css").
           .method-section-background-image.hide-on-med-and-up {
            background-image: url("/images/method/MethodOrganicLabelsOverviewMobile.png") !important;
            }    
          .col.xs12.s12.m5.show-on-small.hide-on-med-and-up
           | 12 months after starting with Sea, method’s organic traffic had already risen 49%. Traffic continued to grow significantly over the following months, compared to the same period during the previous year.
        .row
         .col.xs12.s12.m12.method-section-background-image.hide-on-small-only.show-on-medium-and-up
          style(type="text/css").
           .method-section-background-image.hide-on-small-only {
            background-image: url("/images/method/MethodOrganicLabelsOverview.png")
            !important;
            }
          .col.xs12.s12.m5.hide-on-small-only.show-on-medium-and-up
           | 12 months after starting with Sea, method’s organic traffic had already risen 49%. Traffic continued to grow significantly over the following months, compared to the same period during the previous year.
      .row
         .col.xs12.s12.m6.l6
            h4.services-start
              | Animated Video
              span.accent-color-text .
              .services-start
            p
             | Method needed to create a way to clearly communicate the benefits their office recycling system to customers. It needed to be brief, yet informative and engaging. We decided to create a short animated video that would be successful across multiple channels and stay aligned to the style of the method brand.
         .col.xs12.s12.m6.l6 
           img( class="responsive-img" src="/images/method/MethodBins.png") 

         .col.xs12.s12.m12.l12
            h4.services-start
                | That’s a 
                span.accent-color-text  daily booking increase of 63% 
                | for Carve, working out to be 
                span.accent-color-text  $8 profit for every $1 spent
                |  on digital marketing.