extends layoutScroll

block content
  #bee
    #circle1
  .full
    .container.mw
      .row
        .col.s12
          h1.first-text
            | Pamu (Landcorp)
            span.accent-color-text .
          .services-start
          img(src="/images/carve/quotemark.png" class="quote")
          h4
            | We are in a competitive industry, and our online bookings 
            | and traffic weren’t performing as well as they needed to be
            span.accent-color-text .
          h5.pt20
            | - MATT, OWNER & FOUNDER OF CARVE
          .services-start
           | Matt started Carve back in 2013, working on the tools and the business at the same time. Carve
           | has built a cult following in Wellington through its genuine care for the customer, by making
           | them feel welcome and relaxed - whatever their background. 
          .pt20
           | With a successful business model established, Matt had ambitious growth goals. He knew he
           | didn’t have the expertise himself, so decided it was time to invest in digital marketing to grow
           | Carve’s customer base, and make sure the bookings were flooding in.
          h4.services-start
           | When we met Matt, we saw an opportunity to help a truly
           | great business thrive
           span.accent-color-text .
          .services-start
           | With the majority of our team already getting our cuts at Carve Babrbershops and thouroughly
           | enjoying the experience, we wanted to elevate the online experience to bring more loyal
           | customers to the brand. We saw opportunity to optimise the site for both local and organic
           | search to get higher google rankings and increase booking numbers. We also wanted to create
           | a sales funnel so that a customers could be tracked and retained. Adwords campaigns were in
           | need of some optimisation to decrease spend for better results. To wrap it up we created a
           | dynamic report for Matt so he could oversee the progress of all his website data live.
          .row.services-start.h5
            .col.xs12.s12.m6.l6.xl6
             h5.flex-icons
               .section-icon-image
                img(src="/images/carve/search_icon.png" class="tools") 
               .inline-text
                | SITE OPTIMISED FOR BOTH
                | ORGANIC AND LOCAL SEARCH 
                
            .col.xs12.s12.m6.l6.xl6
             h5.flex-icons
               .section-icon-image
                img(src="/images/carve/optimisation_icon.png" class="tools") 
               .inline-text
                | OPTIMISED ALL ADWORDS
                | FOR BEST POSSIBLE RETURN 
            .col.xs12.s12.m6.l6.xl6
             h5.flex-icons
               .section-icon-image
                img(src="/images/carve/sales_funnel_icon.png" class="tools") 
               .inline-text
                | CREATED AN EFFECTIVE SALES
                | FUNNEL, KEEPING CUSTOMERS
            .col.xs12.s12.m6.l6.xl6
             h5.flex-icons
               .section-icon-image
                img(src="/images/carve/reporting_icon.png" class="tools") 
               .inline-text
                | FULL REPORTING OF DATA TO 
                | TRACK AND PROVE SUCCESS
          h4.services-start
              | Organic Traffic
              span.accent-color-text .
              .services-start
              .image-overlay-text.row.carve-section-background-image-detail.hide-on-small-only
               .col.s12.carve-section-background-image-detail
                style(type="text/css").
                  .carve-section-background-image-detail.hide-on-small-only {
                    background-image: url('/images/method/MethodOrganicLabels.png') !important;
                    height: 600px;
                    width: auto;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100%;
                  }
                | monthly users
              .image-overlay-text.row.carve-section-background-image-detail.hide-on-med-and-up
               .col.s12.carve-section-background-image-detail
                style(type="text/css").
                  .carve-section-background-image-detail.hide-on-med-and-up {
                    background-image: url('/images/method/MethodOrganicLabelsMobile.png') !important;
                    height: 600px;
                    width: auto;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100%;
                  }
                | monthly users
          p
           | With the majority of our team already getting our cuts at Carve Babrbershops and thouroughly
           | enjoying the experience, we wanted to elevate the online experience to bring more loyal
           | customers to the brand. We saw opportunity to optimise the site for both local and organic
           | search to get higher google rankings and increase booking numbers. We also wanted to create
           | a sales funnel so that a customers could be tracked and retained. Adwords campaigns were in
           | need of some optimisation to decrease spend for better results. To wrap it up we created a
           | dynamic report for Matt so he could oversee the progress of all his website data live.  
          h4.services-start
           | Over
           span.accent-color-text  6 months
           |  Carve’s organic traffic increased
           span.accent-color-text  51%
          .services-start
        .row.services-start
         .col.xs12.s12.m12.carve-section-background-image.show-on-small.hide-on-med-and-up
          style(type="text/css").
           .carve-section-background-image.hide-on-med-and-up {
            background-image: url("/images/method/MethodOrganicLabelsOverviewMobile.png") !important;
            }    
          .col.xs12.s12.m5.show-on-small.hide-on-med-and-up
           | By the end of the contract with Carve we had
           | increased organic traffic by over 50%. By this
           | point Carve was ranking in the top spots for
           | competitive search queries in thier industry,
           | giving them a much more significant share of
           | the online market.
        .row.services-start
         .col.xs12.s12.m12.carve-section-background-image.hide-on-small-only.show-on-medium-and-up
          style(type="text/css").
           .carve-section-background-image.hide-on-small-only {
            background-image: url("/images/method/MethodOrganicLabelsOverview.png")
            !important;
            }
          .col.xs12.s12.m5.hide-on-small-only.show-on-medium-and-up
           | By the end of the contract with Carve we had
           | increased organic traffic by over 50%. By this
           | point Carve was ranking in the top spots for
           | competitive search queries in thier industry,
           | giving them a much more significant share of
           | the online market.