extends layoutScroll

block content
  #bee
    #circle1
  .full
    .container.mw
      .row
        .col.s12
          h1.first-text
            | Pamu (Landcorp)
            span.accent-color-text .
          .services-start
          img(src="/images/carve/quotemark.png" class="quote")
          h4
            | We are in a competitive industry, and our online bookings 
            | and traffic weren’t performing as well as they needed to be
            span.accent-color-text .
          h5.pt20
            | - MATT, OWNER & FOUNDER OF CARVE
          .services-start
           | Matt started Carve back in 2013, working on the tools and the business at the same time. Carve
           | has built a cult following in Wellington through its genuine care for the customer, by making
           | them feel welcome and relaxed - whatever their background. 
          .pt20
           | With a successful business model established, Matt had ambitious growth goals. He knew he
           | didn’t have the expertise himself, so decided it was time to invest in digital marketing to grow
           | Carve’s customer base, and make sure the bookings were flooding in.
          h4.services-start
           | When we met Matt, we saw an opportunity to help a truly
           | great business thrive
           span.accent-color-text .
          .services-start
           | With the majority of our team already getting our cuts at Carve Babrbershops and thouroughly
           | enjoying the experience, we wanted to elevate the online experience to bring more loyal
           | customers to the brand. We saw opportunity to optimise the site for both local and organic
           | search to get higher google rankings and increase booking numbers. We also wanted to create
           | a sales funnel so that a customers could be tracked and retained. Adwords campaigns were in
           | need of some optimisation to decrease spend for better results. To wrap it up we created a
           | dynamic report for Matt so he could oversee the progress of all his website data live.
          .row.services-start.h5
            .col.xs12.s12.m6
             h5.flex-icons
               .inline-icons
                img(src="/images/carve/search_icon.png" class="tools") 
               .inline-text
                | SITE OPTIMISED FOR BOTH
                br
                | ORGANIC AND LOCAL SEARCH 
                
            .col.xs12.s12.m6
             h5.flex-icons
               .inline-icons
                img(src="/images/carve/optimisation_icon.png" class="tools") 
               .inline-text
                | OPTIMISED ALL ADWORDS
                br
                | FOR BEST POSSIBLE RETURN 
            .col.xs12.s12.m6
             h5.flex-icons
               .inline-icons
                img(src="/images/carve/sales_funnel_icon.png" class="tools") 
               .inline-text
                | CREATED AN EFFECTIVE SALES
                br
                | FUNNEL, KEEPING CUSTOMERS
            .col.xs12.s12.m6
             h5.flex-icons
               .inline-icons
                img(src="/images/carve/reporting_icon.png" class="tools") 
               .inline-text
                | FULL REPORTING OF DATA TO 
                br
                | TRACK AND PROVE SUCCESS
          h4.services-start
              | Organic Traffic
              span.accent-color-text .
              .services-start
              .image-overlay-text.row
               .col.s12.image-organic
                | monthly users
          p
           | With the majority of our team already getting our cuts at Carve Babrbershops and thouroughly
           | enjoying the experience, we wanted to elevate the online experience to bring more loyal
           | customers to the brand. We saw opportunity to optimise the site for both local and organic
           | search to get higher google rankings and increase booking numbers. We also wanted to create
           | a sales funnel so that a customers could be tracked and retained. Adwords campaigns were in
           | need of some optimisation to decrease spend for better results. To wrap it up we created a
           | dynamic report for Matt so he could oversee the progress of all his website data live.  
          h4.services-start
           | Over
           span.accent-color-text  6 months
           |  Carve’s organic traffic increased
           span.accent-color-text  51%
          .services-start
        .row.services-start
         .col.xs12.s12.image-organic-circles
          .col.xs12.s12.m5
           | By the end of the contract with Carve we had
           | increased organic traffic by over 50%. By this
           | point Carve was ranking in the top spots for
           | competitive search queries in thier industry,
           | giving them a much more significant share of
           | the online market.
        .row
         .col.xs12.s12
          .col.xs12.s12
           h4.services-start-mobile
               | Page Views
               span.accent-color-text .
               .services-start
               .image-overlay-text.row
                .col.s12.image-organic-views
                 | monthly views
           p
            | Combined with the optimised Adwords campaigns, the high ranking for key search terms meant that
            | Carve was spending less and getting significantly more page views than before. This meant we had
            | a larger pool of users spending more time on the site, making it much easier to increase conversion
            | rate and therefore increase bookings. 
           h4.services-start
            | Carve’s total page views also increased, by a total of 
            span.accent-color-text  162%
          .services-start
        .row.services-start
         .col.xs12.s12.image-organic-circles-views
          .col.xs12.s12.m5
           | By the end of the contract, Carve’s page views had
           | more than doubled. This meant users were spending
           | more time exploring the siter and engaing with the
           | brand. Ultimately this meant that we had much more
           | opportunity to hook a customer and get them to
           | book a cut.
        .row
         .col.xs12.s12
          .col.xs12.s12
           h4.services-start
               | Bookings
               span.accent-color-text .
               .services-start
               .image-overlay-text.row
                .col.s12.image-organic-bookings
                 | Bookings Monthly
           p
            | Finally we look at Carve’s booking numbers over the duration of the contract. Due to the fact that
            | Barbershop’s online booking system ranking higher than other competitiors in the industry,
            | customers went to them first, and because of the quality of customer expereince they tend to
            | keep returning.
 
           h4.services-start
            | And total bookings increased by 
            span.accent-color-text  63%
            |  across 4 stores
            span.accent-color-text .
           .services-start
          .row.services-start
           .col.xs12.s12.image-organic-circles-bookings
            .col.xs12.s12.m5
             | By the end of the contract with Carve we had
             | increased organic traffic by over 50%. By this
             | point Carve was ranking in the top spots for
             | competitive search queries in thier industry,
             | giving them a much more significant share of
             | the online market.
            
             
        
           
