extends ../layout

block content
  #bee
    #circle1
  .full-scroll-window.active#frame1
    .container
      .row
        .col.s12
          h1.first-text
            | Case Studies
            span.accent-color-text .
          p.sub-heading We bring your customers closer, looking at problems through human
            br
            | lenses, and
            span.accent-color-text &nbsp;solving them&nbsp;
            | using the wonderment of technology.
          h4.services-start
                a(href="/projects/alpybus") AlpyBus
                br
                a(href="/projects/carve-barbershop") Carve Barbershop
                br
                a(href="/projects/tommys-rentals") Tommys Rentals
                br
                a(href="/projects/student-job-search") Student Job Search
                br
                a(href="/projects/phil-&-teds") Phil & Teds
                br
                a(href="/projects/pamu") Pamu (Landcorp)
                br
                a(href="/projects/method-recycling") Method Recycling
                br
                a(href="/projects/new-zealand-pharmaceutical-society") New Zealand Pharmaceutical Society
                br
          .down-arrow
            i.material-icons.medium.pulsate.scroll-down expand_more
  .full-scroll-window#frame2
    .container
      .row
        .col.s12
          h1.first-text
            | How close are you
            span.accent-color-text ?
          p.sub-heading We bring your customers closer, looking at problems through human
            br
            | lenses, and
            span.accent-color-text &nbsp;solving them&nbsp;
            | using the wonderment of technology.