extends layoutScroll

block content
  #bee
    #circle1
  .full-scroll-window.active#frame1
    .container
      .row
        .col.s12
          h1.first-text
            | We Do
            span.accent-color-text .
          p.sub-heading We bring your customers closer, looking at problems through human
            br
            | lenses, and
            span.accent-color-text &nbsp;solving them&nbsp;
            | using the wonderment of technology.
            
            h4.services-start
                a(href="/adwords-management") Adwords Performance
                br
                a(href="/amazon-cloud-services") Amazon Cloud Services
                br
                a(href="/search-engine-optimisation") Search Engine Performance
                br
                a(href="/web-development") Web Development
                br
                a(href="/web-performance") Web Performance
                br
                a(href="/contact") Facebook Marketing
                br
                a(href="/server-performance") Server Performance
                br
          .down-arrow
            i.material-icons.medium.pulsate.scroll-down expand_more
  .full-scroll-window#frame2
    .container
      .row
        .col.s12
          h1.first-text
            | How close are you
            span.accent-color-text ?
          p.sub-heading We bring your customers closer, looking at problems through human
            br
            | lenses, and
            span.accent-color-text &nbsp;solving them&nbsp;
            | using the wonderment of technology.
