extends layoutScroll

block content
  .full-scroll-window.active#frame1
    .container
      .row
        .col.s12
          h1.first-text
            | Web Development
            span.accent-color-text .
          p.sub-heading Search focussed, speed enhanced, beautifully designed websites that deliver exceptional customer experiences.
            br
            | lenses, and
            span.accent-color-text &nbsp;solving them&nbsp;
            | using the wonderment of technology.
          h3.services-start
            | Web
            br
            | Amazon Cloud Services
            br
            | Seo
            br
            | Adwords
            br
            | Facebook
            br
            | Amazon Market Place

          .down-arrow
            i.material-icons.medium.pulsate.scroll-down expand_more
  .full-scroll-window#frame2
    .container
      .row
        .col.s12
          h1.first-text
            | How close are you
            span.accent-color-text ?
          p.sub-heading We bring your customers closer, looking at problems through human
            br
            | lenses, and
            span.accent-color-text &nbsp;solving them&nbsp;
            | using the wonderment of technology.