nav{
  position: fixed;
  background-color: transparent;
  box-shadow: none;
  z-index: 99;
  font-family: 'brother-1816';
  font-weight: 300;
  font-style: normal;
  #nav-mobile{
    letter-spacing: 0.2em;
  }
}

.brand-logo{
  font-family: Feijoa;
}